.Home .banner {
    height: 30vw;
    width: 100vw;
    background-size: cover;
}

.Home .hint {
    position: absolute;
    width: 100vw;
    height: 10vw;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
    margin-top: -11vw;
}
.Home .hint .hint-number {
    font-size: 35px;
    color: #235292;
}

.Home .body-region {
    height: 90vh;
}
.Home .main-form {
    margin-top: 2vh;
    height: 15vh;
    background-color: #235292;
    color: white;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
}
.Home .main-form .form-item {
    margin-top: 2vh;
}
.Home .main-button {
    background-color: #F5A622;
    color: black;
    margin-top: 4.5vh;
    height: 4vh;
    border-radius: 10px;
}
